.second
{
	background-color: yellow;
	border-color: black;
	border: 10px solid;
	
	border-top-color: orange;
	margin: 50px;
	padding-top: 30px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
    border-top-left-radius: 2em;
    border-bottom-right-radius: 2em;
    box-sizing: border-box;
    width:40%;
    display: inline-block;

}
.second strong {
	color: red;

}
.second .psecond{
	color: green;
	text-align: justify;
    text-justify: inter-word;

}
.box
{
	border: 10px solid;
	border-color: blue;
	margin: 150px;
	float: left;

}
.box1
{
	border: 5px solid;
	border-color: green;
	width:40%;
	display: inline-block;
	margin:50px;
	float:right;
	clear:left;

}
.box1:hover
{
	background-image: url("/home/anurag/Downloads/Quotefancy-18846-3840x2160.jpg") ;
	text-decoration: underline;
	text-indent: all;
}
.parentBox
{
	border: 5px solid;
	height: 300px;
	width: 800px;
}

.box-1
{
	position: absolute;
	background: rgb(135, 215, 166);

	left:130px;
	top:80px;
	width:100px;
	height: 100px;
	z-index: 1;
}
.box-2
{
	position: relative;
	background: rgb(135, 144, 168);
	left:150px;
	top:80px;
	width:100px;
	height: 100px;
	z-index: 10;
}
.box-1:hover{
	transform: rotatey(45deg);
	color: blue;
}

-webkit-transition:all 2s;
	animation-name: example;
	animation-duration: 5s;
	animation-iteration-count: infinite;